@media (max-width: 400px) {
  .new-kind {
    margin-top: 50px !important;
  }
}
.my-ifo-kind {
  width: 134.09px;
  height: 29.9px;
  border-radius: 14.92px;
  background-color: #ff7380;
  display: flex;
  justify-items: center;
  align-items: center;
}

.my-ifo-kind p {
  transform: translate(-19px, 1px) !important;

  margin: auto;
}
