.triangle-left {
  clip-path: polygon(24% 20%, 106% 19%, 106% 58%, 24% 58%, 1% 39%);
  background-color: #4941a6;
  width: 115.93px;
  height: 65.62px;
  padding: 0;
  padding: 0;
  border: none;
}
.triangle-left p {
  transform: translate(-12px, -8px);
  width: fit-content;
}
