/* FormForAll.css */
.form-container {
  display: flex;
  height: 87%;
}

.form-group {
  flex: 1;
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.form-control {
  width: 100%;
}

.button-container {
  width: 40%;
  display: flex;
  align-items: flex-end;
}

.my-button {
  width: 6rem;
  height: auto;
  border: none;
  background-color: #c01f59;
  border-radius: 12.65px;
  padding: 5px;
}
@media (max-width: 610px) {
}
