.tr trai {
  border: none !important;
}

.iddd {
  transform: translate(20px, -3px);
}

.to-arr-put {
  transform: translate(38px, -3px);
}

.arrowfour {
  transform: translate(56px, -3px);
}

.arrowfive {
  transform: translate(73px, -3px);
}
@media (max-width: 550px) {
  .iddd {
    transform: translate(8px, -3px);
  }

  .to-arr-put {
    transform: translate(18px, -2px);
  }

  .arrowfour {
    transform: translate(28px, -1px);
  }

  .arrowfive {
    transform: translate(38px, 0px);
  }
}
