


#svg_header{
  position: absolute;right: 60px; top: 8.125em;
}

@media(max-width:1400px ) and (min-width:901px ){
  #svg_header{
    position: absolute;right: 60px; top: 5.125em;
  }
}

@media(max-width:900px ) {
  #svg_header{
    position: absolute;
    right: 60px;
     top: 3.9em;
  }
}


@media (max-width: 599px) {
  .left_burger{
    justify-content: end !important;
  }
  #svg_header{
    position: absolute;
    right: 88px;
    top: 2em;
    width: 55.4px !important;
    height: 55.4px !important;
  }
  .row_rev_{
    flex-direction: row-reverse;
    justify-content: flex-end !important;
  }
  .ul_resp_sm{
    width: 50%;
  }
  .r{
    width: 17.4vw !important ; height: 4.68vw !important ;
  }
}


@media (min-width: 600px) and (max-width: 767px) {
  .left_burger{
    justify-content: end !important;
  }
  #svg_header{
    position: absolute;
    right: 80px;
    top: 2.25em;
  }
  .row_rev_{
    flex-direction: row-reverse;
    justify-content: flex-end !important;
  }
  .ul_resp_sm{
    width: 40%;
  }
}


@media (min-width: 768px) and (max-width: 991px) {
  .left_burger{
    justify-content: end !important;
  }
  #svg_header{
    position: absolute;right: 60px; top: 4.125em !important;
  }
  .ul_resp_sm{
    width: 60%;
  }
}

@media (min-width: 992px) and (max-width: 1250px) {

}




